
/* Dropdown Button */
.dropbtn {
  background-color: #3162ad;
  color: white;
  padding: 0.3em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  width: 100%;
  text-align: left;
  margin-bottom: 0.2em;
}

.dropRevision {
  background-color: #707070;
}

#all_bibles {
  display: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #4a78bd;
}
.dropRevision:hover {
  background-color: #bdae4a;
}

.versions {
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 0.2em;
}

.versions:after {
  content: "▼";
  padding: 0.3em;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4d4d4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #9e9e9e;
}

.selected_bible {
  background-color: #bdbdbd;
  position: relative;
}

.dropdown-content .selected_bible:after {
  content: "✔";
  padding: 0.3em;
  position: absolute;
  right: 10px;
  top: 0.5em;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  color: #0c7800;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
