.quick_nav_group {
  display: grid;
  /*grid-template-columns: 2.5em 2.5em 2.5em 2.5em 2.5em;*/
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1.5em
  width: 100%;
  align-items: stretch;

}

.book {
  display: grid;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}
.book:hover {
  background: #decfb1;
}
.first {
  grid-column-start: 1;
}

.Law { background: #c9b489;}
.History { background: #8ac989;}
.Poetry { background: #89bcc9;}
.Major { background: #9c89c9;}
.Minor { background: #c989c4;}

.Gospels { background: #c9b489;}
.Epistles { background: #89bcc9;}
.Epistles2 { background: #9c89c9;}
.Prophecy { background: #c989c4;}
