@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html {
	font-family: 'Rubic', sans-serif;
}
.header {
  background: #dbdbdb;
  border-bottom: 0.3em solid #c7a767;
  box-shadow: 0 5px 10px #b5b5b5;
}
.header p {
}

#simpleNav {
  border-radius: 0.5em;
  box-shadow: #16425B 0 0 2px 0.1em;
  overflow: hidden;
}
#simpleNav button {
  border: 1px solid #16425B;
}

.content input {
  
}

.verse_box {
  margin: 1em 0;
  background: lightblue;
  border: 0.1em solid blue;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0.2em 0.5em grey;
}
.verse_number {
  background: tan;
}


.sidebar_panel {
  background: #decfb1;
  border: 0.2em solid #c7a767;
  border-radius: 0.5em;
  box-shadow: 3px 0 10px #b5b5b5;
}

.footer {
  background-color: #c3c3c3;
}


.btn-1 {
  color: #979291;
}
.btn-1:before {
  content: '';
  top: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #504c4c;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-1:hover {
  color: #e1dfdf;
}
.btn-1:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
