<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>script.re</title>
  <meta name="description" content="get Scripture">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="css/quick_nav.css">
  <link rel="stylesheet" href="css/options.css">

</head>

<body>
<div class="page_wrapper">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  
  <div class="header">
	  <p>oxx(:::::::&gt;</p>
  </div>
  <div class="container">
    <div id="navArea" class="navArea">
	  <input id="searchBox" type="text" autofocus="autofocus" placeholder="Reference search..." autocomplete="off"/>
	  <div id="simpleNav">
		  <button class="doubleleft" onclick='previous("chapter")'><span></span></button>
		  <button class="left" onclick="previous()"></button>
		  <span id="simpleInfo">script.re</span>
		  <button class="right" onclick="next()"></button>
		  <button class="doubleright" onclick='next("chapter")'><span></span></button>
	  </div>
    </div>
    <div id="content" class="content"></div>
  </div>

  <div class="sidebar">
	  <!--
	  <div class="copy_options">
		  <button onclick="loadVerses()">Load Verse</button>
	  </div>
	  -->
	  {{template "options" .}}
	  {{template "quick_nav" .}}
  </div>
  <footer class="footer">
	  <a href="https://docs.script.re/">docs</a>
	  <a href="https://www.surveymonkey.com/r/G65QHRG">feedback</a>
	  <a href="https://foundation.bible/software/scriptre">about</a>
  </footer>
  <script src="js/scriptre.js"></script>
  <script src="js/options.js"></script>
</body>

</html>
