{{define "options"}}
<div class="options sidebar_panel">
<div class="versions">
	<button onclick="dropVersion()" id="btnVersion" class="dropbtn">{{.SelectedBibleInfo.VersionName}}</button>
  <div id="dropdownVersion" class="dropdown-content">
	  {{range .Bibles}}
	  <a onclick="selectVersion({{.VersionName}})" href="javascript:void(0);" {{if eq .IsSelected "yes"}}class="selected_bible"{{end}}>{{.VersionName}}</a>
	  {{end}}
  </div>
  <div id="all_bibles">
	  {{range .Bibles}}
	  	<div id="{{.VersionName}}">
	  	{{range .Revisions}}
		<a onclick="selectRevision({{.Version}})" href="javascript:void(0);" id="{{.Version}}" {{if eq .IsSelected "yes"}}class="selected_bible"{{end}}>{{.Revision}}</a>
		{{end}}
		</div>
	  {{end}}
  </div>
	<button onclick="dropRevision()" id="btnRevision" class="dropbtn dropRevision">{{.SelectedBibleInfo.Revision}}</button>
  <div id="dropdownRevision" id="btnRevision" class="dropdown-content">
	  {{range .Bibles}}
		{{if eq .IsSelected "yes"}}
	  	{{range .Revisions}}
		<a onclick="selectRevision({{.Version}})" href="javascript:void(0);" id="{{.Version}}" {{if eq .IsSelected "yes"}}class="selected_bible"{{end}}>{{.Revision}}</a>
		{{end}}
		{{end}}
	  {{end}}
  </div>
</div>
</div>
{{end}}
