{{define "quick_nav"}}
<div class="quick_nav sidebar_panel">
	<div class="quick_nav_group">
		{{range .Languages}}
		  {{range .Canons}}
		    {{range .Books}}
		    <div class="book {{.Group}}" onclick="getVerses('{{.Prefix}} {{.BookName}}')">{{.AbbrShort}}</div>
		    {{end}}
		  {{end}}
		{{end}}
	</div>
</div>
{{end}}
